@font-face {
  font-family: 'Open Sans';
  src: url('./sources/fonts/OpenSans-Regular.woff2') format('woff2'),
     url('./sources/fonts/OpenSans-Regular.ttf')  format('truetype'),
     url('./sources/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./sources/fonts/OpenSans-Bold.woff2') format('woff2'),
     url('./sources/fonts/OpenSans-Bold.ttf')  format('truetype'),
     url('./sources/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Общие настройки */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  font-size: 15px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0;
  padding: 0;
}

.header_background {
  background-position: top center;
  background-size: cover;
  background-color: #000000;
}

.relative {
  position: relative;
}

.blind::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

:root {
--side-padding-320: 20px;
--side-padding-640: 30px;
}

/* Шапка сайта */
.header_page {
  margin: 0;
  padding: 0;
}

.logo_container {
  display: flex;
}

.page-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.svg-color {
  fill: #ffffff;
}

.header_page-title {
  line-height: normal;
  text-transform: uppercase;
  color: #ffffff;
}

.left, .right {
  display: block;
}

.menu_page-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu_page-list-item {
  margin: 0;
  padding: 0;
}

.menu_page-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #5e42b0;
}

.menu_page-link-text {
  margin-left: 8px;
}

.menu_page-text-up,
.menu_page-text-down {
  display: block;
  text-transform: uppercase;
}

/* Основной контент */

.sport_title {
  margin: 0;
  font-size: 50px;
  line-height: normal;
  font-weight: 700;
  text-transform: uppercase;
  color: #e7e7e7;
}

.sport_article {
  padding-top: 30px;
  padding-bottom: 30px;
}

.sport_article-header {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.sport_article-title {
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  color: #c1c1c1;
  margin: 0;
  padding: 0;
}

.number {
  display: block;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-right: 10px;
  color: #000000;
}

.sport:nth-child(odd) .sport_article:last-child {
  background-color: #5e42b0;
}

.sport:nth-child(even) .sport_article:last-child {
  background-color: #090c35;
}

.number::after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #5e42b0;
}

.sport:nth-child(odd) .sport_article:last-child .number::after {
  background-color: #ffffff;
}

.sport:nth-child(even) .sport_article:last-child .number,
.sport:nth-child(even) .sport_article:last-child p {
  color: #ffffff;
}

.sport:nth-child(even) > .sport_article:last-child .number::after {
  background-color: #ffffff;
}

.i-don-t-know-what-to-call-it {
  margin: 0;
  padding: 0;
}

.paragraph_article {
  display: flex;
  flex-wrap: wrap;
}

.paragraph_title {
  order: 1;
  color: #e7e7e7;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: var( --side-padding-320 );
  padding-right: var( --side-padding-320 );
}

.paragraph_img {

}

.paragraph_text {
  order: 1;
  padding-left: var( --side-padding-320 );
  padding-right: var( --side-padding-320 );
}

.paragraph_text p {
  font-size: 20px;
}

.paragraph_number-box {
  display: flex;
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: #5e42b0;
  left: var( --side-padding-320 );
  bottom: -10px;
}

.paragraph_number-text {
  display: block;
  margin: auto;
  color: #f5f6f7;
  font-size: 14px;
  font-weight: 700;
}

.paragraph_number-text::after {
  content: "";
  display: block;
  margin-top: 2px;
  height: 4px;
  width: 100%;
  border-radius: 5px;
  background-color: #8f7bc8;
}

/* Подвал */
.footer_page {
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: var( --side-padding-320 );
  padding-right: var( --side-padding-320 );
}

.footer-logo {
  display: flex;
  height: 74px;
  width: 74px;
  background: linear-gradient(0deg, #50379b, #7555d5);
  border-radius: 20px;
}

.logo_container-footer-up {
  margin-bottom: 50px;
}

.logo_container-footer-down {
  margin-top: 80px;
}

.footer_box-text {
  margin-bottom: 73px;
}

.footer_big-text {
  display: block;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.footer-text {
  display: block;
  color: #9b8ec1;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

@media (max-width: 640px) {
  /* Шапка сайта */

  .header_background {
    background-image: url("./sources/img/football_767.jpg");
  }

  .footer_background {
    background-image: url("./sources/img/game_767.jpg");
  }

  .header_page {
    padding-left: var( --side-padding-320 );
    padding-right: var( --side-padding-320 );
    padding-top: 30px;
    padding-bottom: 85px;
  }

  .header_page-title {
    font-size: 28px;
    margin-bottom: 85px;
  }

  .right {
    margin-left: calc( 50% - 94px );
  }

  .logo_container-header {
    margin-bottom: 135px;
  }

  .logo-img-header {
    height: 36px;
  }

  .logo-img-footer {
    height: 50px;
    margin: auto;
  }

  .menu_page-list-item:nth-child(n+2) {
    margin-top: 15px;
  }

  .menu_page-link {
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .icon_market {
    height: 24px;
    margin-left: calc( 50% - 55px );
  }

  .menu_page-link-text {
    font-size: 8px;
  }

  .menu_page-text-up {
    font-weight: 400;
    line-height: 10px;
  }

  .menu_page-text-down {
    font-weight: 700;
    line-height: 10px;
  }

    /* Основной контент */
    .sport_title {
      padding-left: var( --side-padding-320 );
      padding-right: var( --side-padding-320 );
    }

    .sport_article {
      padding-left: var( --side-padding-320 );
      padding-right: var( --side-padding-320 );
    }

    .sport_box {
      margin: 0;
      padding: 0;
    }

    .sport_picture {
      display: flex;
    }

    .sport_img {
      height: 240px;
      margin-left: auto;
      margin-right: auto;
    }

    .paragraph_img {
      width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
  /* Шапка сайта */

  .header_background {
    background-image: url("./sources/img/football_767.jpg");
  }

  .header_page {
    padding-left: var( --side-padding-640 );
    padding-right: var( --side-padding-640 );
    padding-top: 40px;
    padding-bottom: 90px;
  }

  .header_page-title {
    font-size: 64px;
    margin-bottom: 310px;
  }

  .left {
    margin-left: 60px;
  }

  .right {
    margin-left: calc( 50% - 188px );
  }

  .logo-img-header {
    height: 58px;
  }

  .logo_container-header {
    margin-bottom: 175px;
  }

  .menu_page-list {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu_page-list-item {
    display: block;
    min-width: calc(50% - 15px);
  }

  .menu_page-list-item:nth-child(n+3) {
    margin-top: 15px;
  }

  .icon_market {
    height: 45px;
  }

  .menu_page-link {
    justify-content: center;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 40px;
  }

  .menu_page-link-text {
    font-size: 14px;
  }

  .menu_page-text-up {
    font-weight: 400;
    line-height: 18px;
  }

  .menu_page-text-down {
    font-weight: 700;
    line-height: 18px;
  }
}
